@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
    

    &__enlace {
        color: v.$negro;
        font-size: 1.4rem;
        font-weight: v.$delgada;
    }

    &__confirmado {
        @include m.boton(v.$azul, v.$blanco);
    }
}