@use 'base/mixins' as m;
@use 'base/variables' as v;

.speakers {

    &__grid {
        @include m.contenedor;
        @include m.grid(1, 5rem);
        @include m.tablet {
            @include m.grid(2, 5rem);
        }
        @include m.xl_desktop {
            @include m.grid(3, 5rem);
        }
    }
}

.speaker {
    @include m.card;
    background-position: center top;
    background-size: 350px;
    background-repeat: no-repeat;


    @for $i from 1 through 4 {
        &:nth-child(4n + #{$i}) {
            background-image: image-set(
                url('../img/bg_#{$i}.avif') 1x, 
                url('../img/bg_#{$i}.webp') 1x,
                url('../img/bg_#{$i}.png') 1x
            );
            background-size: 30rem;
            @include m.tablet {
                background-size: 33rem;
            }
        }
    }

    &__imagen {
        min-width: 30rem;
        @include m.tablet {
            min-width: unset;
        }
    }

    &__ubicacion {
        color: v.$gris;
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 1.5;
    }

    &__listado-skills {
        @include m.tags;

        li {
            cursor: unset;
            margin-left: .5rem
        }
    }
}

.speaker-sociales {
    @include m.menu-social(v.$negro, 3rem);
    display: none;
    @include m.telefono {
        display: flex;
    }
    gap: 2rem;
    margin-top: 2rem;
}