@use 'base/mixins' as m;
@use 'base/variables' as v;

.paginacion {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;

    &__enlace {
        color: v.$azul;
        font-size: 2rem;

        &--texto {
            padding: 1rem;
            border-radius: .5rem;
            border: 1px solid v.$azul;

            &:hover {
                background-color: v.$azul;
                color: v.$blanco;
            }
        }

        &--ultimo,
        &--primero {
            user-select: none;
            padding: 1rem;
            border-radius: .5rem;
            border: 1px solid v.$grisOscuro;
            color: v.$grisOscuro;
        }

        &--numero {
            font-weight: v.$bold;
            display: none;
            @include m.tablet {
                display: inline;
            }
        }

        &--actual {
            user-select: none;
            color: v.$grisOscuro;
            font-weight: v.$bold;
            display: none;
            @include m.tablet {
                display: inline;
            }
        }
    }
}